<div class="video_thumbs_wrapper">
    <?php
    if ($this->getLoadedVideoCollection()->count() > 0):
            $i = 0;
            $_columnCount = 3;
            $_collectionSize = $this->getLoadedVideoCollection()->count();
    ?>
        <div class="video_thumbs">
            <?php foreach ($this->getLoadedVideoCollection() as $video): ?>
                <?php if ($i++%$_columnCount==0): ?>
                <ul>
                <?php endif ?>
                <li>
                    <div class="video_thumb_wrap">
                        <a class="video_details fancybox.ajax" href="<?php echo Mage::helper('videopage/url')->getVideoUrl($video->getVideoId()) ?>"><img src="<?php echo $this->helper('videopage')->resize($video->getVideoThumbnail(), 300, 175) ?>" alt=""/></a>
                    </div>
                    <h1><?php echo strtoupper($video->getVideoTitle()); ?></h1>
                    <p><?php echo strlen($video->getVideoDescription()) > 160 ? substr($video->getVideoDescription(), 0, 160) . '...' : $video->getVideoDescription(); ?></p>
                    <a class="video_details fancybox.ajax" href="<?php echo Mage::helper('videopage/url')->getVideoUrl($video->getVideoId()) ?>"><?php echo $this->__('view more'); ?></a>
                </li>
                <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
                </ul>
                <?php endif ?>
            <?php
            endforeach; ?>
        </div> <!--ends video_thumbs-->
    <?php echo $this->getChildHtml('toolbar'); ?>
    <?php else: ?>
    <?php echo $this->__('No Videos to display.'); ?>
    <?php endif; ?>
</div> <!--ends video_thumbs_wrapper-->
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.video_details').fancybox({
            type: 'ajax',
            autoScale: true,
            maxWidth: 720,
        });
    });
</script>