<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="robots" content="NOINDEX,FOLLOW">
    </head>
    <body class="video-page-popup">
        <div id="view_more" class="color_content color_viewmore">
            <div class="color_title">
                <h1><?php echo $this->getVideo()->getVideoTitle() ?></h1>
            </div>
            <div class="viewmore_video_wrap">
                <?php echo $this->getVideo()->getVideoEmbedCode() ?>
            </div>
            <!--ends viewmore_video_wrap-->
            <?php echo $this->getVideo()->getVideoDescription() ?>
        </div>
    </body>
</html>