<div class="page-title">
    <h1><?php echo $this->getSettings('pagetitle');?></h1>
</div>
<div class="video_page">
    <?php if(count($this->getVideoCategories()) > 0 ):?>
        <ul class="video_tabs">
            <?php
            $count = 1;
            foreach($this->getVideoCategories() as $category):?>
            <li id="video_tab<?php echo $count;?>" <?php if($this->getVideoCategory()->getCategoryId()==$category->getCategoryId()):?>class="active"<?php endif;?>><a href="<?php echo Mage::helper('videopage/url')->getCategoryVideoUrl($category->getCategoryId())?>"><?php echo $category->getCategoryTitle()?></a></li>
            <?php endforeach; ?>
        </ul>
        <?php echo $this->getChildHtml('list'); ?>
    <?php endif; ?>
</div> <!--ends video_page-->
