<?php
/**
 *
 * @category   design
 */
?>
<?php
/**
 * VideoPage list toolbar
 *
 * @see Dmd_VideoPage_Block_List_Toolbar
 */
?>
<?php if ($this->getCollection()->getSize()): ?>
    <div class="toolbar-bottom">
        <div class="toolbar">
            <p class="amount">
            <?php if($this->getLastPageNum()>1): ?>
                <?php echo $this->__('%s of %s Items',  $this->getLastNum(), $this->getTotalNum()) ?>
                <a href="<?php echo $this->getLimitUrl('all') ?>" ><?php echo $this->__('Show all'); ?></a>
            <?php else: ?>
                <?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?>
            <?php endif; ?>
           </p>
        <?php echo $this->getPagerHtml() ?>
    </div> <!--ends toolbar-->
</div> <!--ends toolbar-bottom-->
<?php endif ?>
